[user]
	email = martincura@gmail.com
	name = Martín Cura
	# signingkey = CFC167E9E578468C  # GitLab
	signingkey = 3699119A2BF431D5  # GitHub
[commit]
	gpgsign = true
[core]
	editor = nano

[includeIf "gitdir:~/Code/Mutt/"]
	path = ~/Code/Mutt/.gitconfig
[init]
	defaultBranch = main
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pull]
	rebase = false
